body {
  background-color: rgb(241, 215, 180);
  text-align: center;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(73, 87, 77, 0.938);
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgba(73, 87, 77, 0.938);
}
